.applicantsTable {
    border: 1.5px solid #222 !important;
	text-align: center;
	vertical-align: middle;
}

.applicantsTable > tbody > tr > td {
    vertical-align: middle !important;
}

.applicantsTable > thead > tr > th {
    font-size: 20px;
}

.first-row {
	font-weight: bold;
}

#applicant-rows > td, #header-row > td {
	vertical-align: middle;
}

.applicant-name-col {
	width: 25%;
}

.applicant-roles-col {
	width: 25%;
}

.checkAll {
	vertical-align: middle;
}

.approval-action-btn {
	font-size: 10px;
}