.item-content-background {
    background-color: #6e6e6e;
    padding: 15px;
}

.item-box {
    border: 1.5px solid #222 !important;
    cursor: pointer;
}

#add-item-btn {
    float: right;
    margin-top: 21px;
}

.category-title, .module-title {
    border-bottom: 3px solid;
}

.item-attr {
    margin-bottom: 5px;
    margin-top: 5px;
}